In [2]:
import pandas as pd
import os

In [3]:
from pathlib import Path

In [4]:
from git import Repo

In [5]:
path = r"C:\Users\vicky\Documents\python\DS_ML\ds_priya\pulse\data"

In [6]:
path=r"C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\transaction\country\india\state\\"
Agg_state_list=os.listdir(path)
Agg_state_list

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [7]:
import pandas as pd
import json
import os

##  Aggregated data

In [8]:
clm={'State':[], 'Year':[],'Quater':[],'Transacion_type':[], 'Transacion_count':[], 'Transacion_amount':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              clm['Transacion_type'].append(Name)
              clm['Transacion_count'].append(count)
              clm['Transacion_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Agg_Trans=pd.DataFrame(clm)

In [9]:
Agg_Trans

,State,Year,Quater,Transacion_type,Transacion_count,Transacion_amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
5029,west-bengal,2024,4,Merchant payments,655100809,3.892862e+11
5030,west-bengal,2024,4,Peer-to-peer payments,493217788,1.361927e+12
5031,west-bengal,2024,4,Recharge & bill payments,76043195,5.753406e+10
5032,west-bengal,2024,4,Financial Services,2352084,8.472965e+08
5033,west-bengal,2024,4,Others,421806,5.053641e+08

In [ ]:

csv_file_path = "Agg_Trans.csv"  # Define your file path
Agg_Trans.to_csv(csv_file_path, index=False)  # `index=False` to exclude row numbers

print(f"CSV file saved at: {r"C:\Users\vicky\Desktop\Class"}")

In [11]:
path1=r"C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\"
Agg_user_list=os.listdir(path1)

In [12]:
import json

In [13]:
clm={'State':[], 'Year':[],'Quater':[],'User_id':[], 'User_brand':[], 'User_count':[], 'User_percentage':[]}

for i in Agg_user_list:
    p_i=os.path.join(path1, i)
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=os.path.join(p_i, j)
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=os.path.join(p_j, k)
            try:
                with open(p_k, 'r') as Data:
                    D = json.load(Data)
                    # Skip if 'data' is missing
                    if 'data' not in D:
                        continue
                    # Extract aggregated data (registeredUsers)
                    registered_users = D['data'].get('aggregated', {}).get('registeredUsers', 0)
                    # Extract usersByDevice (must be a list)
                    users_by_device = D['data'].get('usersByDevice', [])
                    for device in users_by_device:
                        brand = device.get('brand', 'Unknown')
                        count = device.get('count', 0)
                        percentage = device.get('percentage', 0.0)
                        clm['User_id'].append(registered_users)
                        clm['User_brand'].append(brand)
                        clm['User_count'].append(count)
                        clm['User_percentage'].append(percentage)
                        clm['State'].append(i)
                        clm['Year'].append(j)
                        clm['Quater'].append(int(k.strip('.json')))
            except Exception as e:
                print(f"Error processing {p_k}: {e}")
                continue

# Create DataFrame
Agg_User = pd.DataFrame(clm)

Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\andaman-&-nicobar-islands\2022\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\andaman-&-nicobar-islands\2022\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\andaman-&-nicobar-islands\2022\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\andaman-&-nicobar-islands\2023\1.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\andaman-&-nicobar-islands\2023\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\andaman-&-nicobar-islands\2023\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\andaman-&-nicobar-islands\2023\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\andaman-&-nicobar-islands\2024\1.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\andaman-&-nicobar-islands\2024\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\andaman-&-nicobar-islands\2024\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\andaman-&-nicobar-islands\2024\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\andhra-pradesh\2022\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\andhra-pradesh\2022\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\andhra-pradesh\2022\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\andhra-pradesh\2023\1.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\andhra-pradesh\2023\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\andhra-pradesh\2023\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\andhra-pradesh\2023\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\andhra-pradesh\2024\1.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\andhra-pradesh\2024\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\andhra-pradesh\2024\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\andhra-pradesh\2024\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\arunachal-pradesh\2022\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\arunachal-pradesh\2022\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\arunachal-pradesh\2022\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\arunachal-pradesh\2023\1.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\arunachal-pradesh\2023\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\arunachal-pradesh\2023\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\arunachal-pradesh\2023\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\arunachal-pradesh\2024\1.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\arunachal-pradesh\2024\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\arunachal-pradesh\2024\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\arunachal-pradesh\2024\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\assam\2022\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\assam\2022\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\assam\2022\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\assam\2023\1.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\assam\2023\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\assam\2023\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\assam\2023\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\assam\2024\1.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\assam\2024\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\assam\2024\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\assam\2024\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\bihar\2022\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\bihar\2022\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\bihar\2022\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\bihar\2023\1.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\bihar\2023\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\bihar\2023\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\bihar\2023\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\bihar\2024\1.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\bihar\2024\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\bihar\2024\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\bihar\2024\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\chandigarh\2022\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\chandigarh\2022\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\chandigarh\2022\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\chandigarh\2023\1.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\chandigarh\2023\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\chandigarh\2023\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\chandigarh\2023\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\chandigarh\2024\1.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\chandigarh\2024\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\chandigarh\2024\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\chandigarh\2024\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\chhattisgarh\2022\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\chhattisgarh\2022\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\chhattisgarh\2022\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\chhattisgarh\2023\1.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\chhattisgarh\2023\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\chhattisgarh\2023\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\chhattisgarh\2023\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\chhattisgarh\2024\1.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\chhattisgarh\2024\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\chhattisgarh\2024\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\chhattisgarh\2024\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\dadra-&-nagar-haveli-&-daman-&-diu\2022\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\dadra-&-nagar-haveli-&-daman-&-diu\2022\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\dadra-&-nagar-haveli-&-daman-&-diu\2022\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\dadra-&-nagar-haveli-&-daman-&-diu\2023\1.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\dadra-&-nagar-haveli-&-daman-&-diu\2023\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\dadra-&-nagar-haveli-&-daman-&-diu\2023\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\dadra-&-nagar-haveli-&-daman-&-diu\2023\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\dadra-&-nagar-haveli-&-daman-&-diu\2024\1.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\dadra-&-nagar-haveli-&-daman-&-diu\2024\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\dadra-&-nagar-haveli-&-daman-&-diu\2024\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\dadra-&-nagar-haveli-&-daman-&-diu\2024\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\delhi\2022\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\delhi\2022\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\delhi\2022\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\delhi\2023\1.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\delhi\2023\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\delhi\2023\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\delhi\2023\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\delhi\2024\1.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\delhi\2024\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\delhi\2024\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\delhi\2024\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\goa\2022\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\goa\2022\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\goa\2022\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\goa\2023\1.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\goa\2023\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\goa\2023\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\goa\2023\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\goa\2024\1.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\goa\2024\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\goa\2024\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\goa\2024\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\gujarat\2022\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\gujarat\2022\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\gujarat\2022\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\gujarat\2023\1.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\gujarat\2023\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\gujarat\2023\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\gujarat\2023\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\gujarat\2024\1.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\gujarat\2024\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\gujarat\2024\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\gujarat\2024\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\haryana\2022\2.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\haryana\2022\3.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\haryana\2022\4.json: 'NoneType' object is not iterable
Error processing C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\user\country\india\state\\haryana\2023\1.json: 'NoneType' object is not iterable

In [14]:
Agg_User

,State,Year,Quater,User_id,User_brand,User_count,User_percentage
0,andaman-&-nicobar-islands,2018,1,6740,Xiaomi,1665,0.247033
1,andaman-&-nicobar-islands,2018,1,6740,Samsung,1445,0.214392
2,andaman-&-nicobar-islands,2018,1,6740,Vivo,982,0.145697
3,andaman-&-nicobar-islands,2018,1,6740,Oppo,501,0.074332
4,andaman-&-nicobar-islands,2018,1,6740,OnePlus,332,0.049258
...,...,...,...,...,...,...,...
6727,west-bengal,2022,1,21919787,Lenovo,330017,0.015056
6728,west-bengal,2022,1,21919787,Infinix,284678,0.012987
6729,west-bengal,2022,1,21919787,Asus,280347,0.012790
6730,west-bengal,2022,1,21919787,Apple,277752,0.012671
6731,west-bengal,2022,1,21919787,Others,2196334,0.100199

In [15]:
path2=r"C:\\Users\vicky\Documents\PHONEPAY\data\data\aggregated\insurance\country\india\state\\"
Agg_isurance_list=os.listdir(path2)

In [16]:
clm={'State':[], 'Year':[],'Quater':[],'Insurance_type':[], 'Insurance_count':[], 'Insurance_amount':[]}

for i in Agg_state_list:
    p_i=path2+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              clm['Insurance_type'].append(Name)
              clm['Insurance_count'].append(count)
              clm['Insurance_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Agg_isurance=pd.DataFrame(clm)

In [17]:
Agg_isurance

,State,Year,Quater,Insurance_type,Insurance_count,Insurance_amount
0,andaman-&-nicobar-islands,2020,2,Insurance,6,1360.0
1,andaman-&-nicobar-islands,2020,3,Insurance,41,15380.0
2,andaman-&-nicobar-islands,2020,4,Insurance,124,157975.0
3,andaman-&-nicobar-islands,2021,1,Insurance,225,244266.0
4,andaman-&-nicobar-islands,2021,2,Insurance,137,181504.0
...,...,...,...,...,...,...
677,west-bengal,2023,4,Insurance,72712,100365562.0
678,west-bengal,2024,1,Insurance,79576,104987909.0
679,west-bengal,2024,2,Insurance,67048,89476633.0
680,west-bengal,2024,3,Insurance,77158,107451766.0
681,west-bengal,2024,4,Insurance,91719,120602777.0

## Map data

In [18]:
path3=r"C:\\Users\vicky\Documents\PHONEPAY\data\data\map\transaction\hover\country\india\state\\"
map_transaction_list=os.listdir(path3)

In [19]:
clm={'State':[], 'Year':[],'Quater':[],'Transacion_area':[], 'Transacion_count':[], 'Transacion_amount':[]}

for i in map_transaction_list:
    p_i=path3+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['hoverDataList']:
              Name=z['name']
              count=z['metric'][0]['count']
              amount=z['metric'][0]['amount']
              clm['Transacion_area'].append(Name)
              clm['Transacion_count'].append(count)
              clm['Transacion_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Map_Trans=pd.DataFrame(clm)

In [20]:
Map_Trans

,State,Year,Quater,Transacion_area,Transacion_count,Transacion_amount
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,442,9.316631e+05
1,andaman-&-nicobar-islands,2018,1,south andaman district,5688,1.256025e+07
2,andaman-&-nicobar-islands,2018,1,nicobars district,528,1.139849e+06
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,825,1.317863e+06
4,andaman-&-nicobar-islands,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
20599,west-bengal,2024,4,alipurduar district,15875637,2.099251e+10
20600,west-bengal,2024,4,paschim bardhaman district,56616799,6.968735e+10
20601,west-bengal,2024,4,nadia district,65274337,1.079320e+11
20602,west-bengal,2024,4,birbhum district,36905213,5.778701e+10
20603,west-bengal,2024,4,purba medinipur district,67833775,1.142771e+11

In [21]:
path4=r"C:\\Users\vicky\Documents\PHONEPAY\data\data\map\user\hover\country\india\state\\"
map_user_list=os.listdir(path4)

In [22]:
clm = {'State': [], 'Year': [], 'Quater': [], 'Registered_users': [], 'App_opens': []}

for i in map_user_list:
    p_i = os.path.join(path4, i)
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j = os.path.join(p_i, j)
        Agg_yr_list = os.listdir(p_j)
        for k in Agg_yr_list:
            p_k = os.path.join(p_j, k)
            try:
                with open(p_k, 'r') as Data:
                    D = json.load(Data)
                    # Skip if 'data' is missing
                    if 'data' not in D or 'hoverData' not in D['data']:
                        continue
                    
                    # Get the state data (convert state name to lowercase to match hoverData keys)
                    state_data = D['data']['hoverData'].get(i.lower(), {})
                    
                    # Append data to the dictionary
                    clm['State'].append(i)
                    clm['Year'].append(j)
                    clm['Quater'].append(int(k.strip('.json')))
                    clm['Registered_users'].append(state_data.get('registeredUsers', 0))
                    clm['App_opens'].append(state_data.get('appOpens', 0))
                    
            except Exception as e:
                print(f"Error processing {p_k}: {e}")
                continue

# Create DataFrame
Map_User = pd.DataFrame(clm)

In [23]:
Map_User

                          State  Year  Quater  Registered_users  App_opens
0     andaman-&-nicobar-islands  2018       1                 0          0
1     andaman-&-nicobar-islands  2018       2                 0          0
2     andaman-&-nicobar-islands  2018       3                 0          0
3     andaman-&-nicobar-islands  2018       4                 0          0
4     andaman-&-nicobar-islands  2019       1                 0          0
...                         ...   ...     ...               ...        ...
1003                west-bengal  2023       4                 0          0
1004                west-bengal  2024       1                 0          0
1005                west-bengal  2024       2                 0          0
1006                west-bengal  2024       3                 0          0
1007                west-bengal  2024       4                 0          0

[1008 rows x 5 columns]

In [24]:
path5=r"C:\\Users\vicky\Documents\PHONEPAY\data\data\map\insurance\hover\country\india\state\\"
map_insurance_list=os.listdir(path5)

In [25]:
clm={'State':[], 'Year':[],'Quater':[],'Insurance_area':[], 'Insurance_count':[], 'Insurance_amount':[]}

for i in map_insurance_list:
    p_i=path5+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['hoverDataList']:
              Name=z['name']
              count=z['metric'][0]['count']
              amount=z['metric'][0]['amount']
              clm['Insurance_area'].append(Name)
              clm['Insurance_count'].append(count)
              clm['Insurance_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Map_isurance=pd.DataFrame(clm)

In [26]:
Map_isurance

,State,Year,Quater,Insurance_area,Insurance_count,Insurance_amount
0,andaman-&-nicobar-islands,2020,2,south andaman district,3,795.0
1,andaman-&-nicobar-islands,2020,2,nicobars district,3,565.0
2,andaman-&-nicobar-islands,2020,3,north and middle andaman district,1,281.0
3,andaman-&-nicobar-islands,2020,3,south andaman district,35,13651.0
4,andaman-&-nicobar-islands,2020,3,nicobars district,5,1448.0
...,...,...,...,...,...,...
13871,west-bengal,2024,4,alipurduar district,1023,1613143.0
13872,west-bengal,2024,4,paschim bardhaman district,4945,7005851.0
13873,west-bengal,2024,4,nadia district,3807,5031294.0
13874,west-bengal,2024,4,birbhum district,1818,2423290.0
13875,west-bengal,2024,4,purba medinipur district,3559,4439061.0

## Top_data

In [27]:
path6=r"C:\\Users\vicky\Documents\PHONEPAY\data\data\top\transaction\country\india\state\\"
top_transaction_list=os.listdir(path6)

In [28]:
clm={'State':[], 'Year':[],'Quater':[],'District':[], 'pincode':[],'Transaction_count':[], 'Transaction_amount':[]}

for i in top_transaction_list:
    p_i=path6+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['districts']:
              Name=z['entityName']
              count=z['metric']['count']
              amount=z['metric']['amount']
              for y in D['data']['pincodes']:
                Pincode = y["entityName"]
                clm['District'].append(Name)
                clm['pincode'].append(Pincode)
                clm['Transaction_count'].append(count)
                clm['Transaction_amount'].append(amount)
                clm['State'].append(i)
                clm['Year'].append(j)
                clm['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Top_transaction=pd.DataFrame(clm)

In [29]:
Top_transaction

,State,Year,Quater,District,pincode,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,south andaman,744101,5688,1.256025e+07
1,andaman-&-nicobar-islands,2018,1,south andaman,744103,5688,1.256025e+07
2,andaman-&-nicobar-islands,2018,1,south andaman,744102,5688,1.256025e+07
3,andaman-&-nicobar-islands,2018,1,south andaman,744105,5688,1.256025e+07
4,andaman-&-nicobar-islands,2018,1,south andaman,744104,5688,1.256025e+07
...,...,...,...,...,...,...,...
82822,west-bengal,2024,4,paschim medinipur,711101,58238212,8.431774e+10
82823,west-bengal,2024,4,paschim medinipur,700059,58238212,8.431774e+10
82824,west-bengal,2024,4,paschim medinipur,700039,58238212,8.431774e+10
82825,west-bengal,2024,4,paschim medinipur,734001,58238212,8.431774e+10
82826,west-bengal,2024,4,paschim medinipur,733134,58238212,8.431774e+10

In [30]:
csv_file_path = "Top_transaction.csv"  # Define your file path
Top_transaction.to_csv(csv_file_path, index=False)  # `index=False` to exclude row numbers

print(f"CSV file saved at: {r"C:\Users\vicky\Desktop\Class"}")

CSV file saved at: C:\Users\vicky\Desktop\Class

In [31]:
path7=r"C:\\Users\vicky\Documents\PHONEPAY\data\data\top\user\country\india\state\\"
top_user_list=os.listdir(path7)

In [32]:
clm = {'State': [], 'Year': [], 'Quater': [], 'District': [], 'User_id': [], 'pincode': []}

for i in top_user_list:
    p_i = os.path.join(path7, i) + "/"
    try:
        Agg_yr = os.listdir(p_i)
    except FileNotFoundError:
        print(f"Directory not found: {p_i}")
        continue
    for j in Agg_yr:
        p_j = os.path.join(p_i, j) + "/"       
        try:
            Agg_yr_list = os.listdir(p_j)
        except FileNotFoundError:
            print(f"Directory not found: {p_j}")
            continue      
        for k in Agg_yr_list:
            p_k = os.path.join(p_j, k)
            
            try:
                with open(p_k, 'r') as Data:
                    try:
                        D = json.load(Data)
                        
                        # Process districts
                        if D and D.get('data') and D['data'].get('districts'):
                            for district in D['data']['districts']:
                                # Process pincodes for each district
                                if D['data'].get('pincodes'):
                                    for pincode in D['data']['pincodes']:
                                        clm['District'].append(district.get('name'))
                                        clm['pincode'].append(pincode.get('name'))
                                        clm['User_id'].append(district.get('registeredUsers', 0))  # Assuming this is what you want
                                        clm['State'].append(i)
                                        clm['Year'].append(j)
                                        clm['Quater'].append(int(k.strip('.json')))
                                       
                                else:
                                    # If no pincodes, just add district info
                                    clm['District'].append(district.get('name'))
                                    clm['pincode'].append(None)
                                    clm['User_id'].append(district.get('registeredUsers', 0))
                                    clm['State'].append(i)
                                    clm['Year'].append(j)
                                    clm['Quater'].append(int(k.strip('.json')))
                                  
                        else:
                            print(f"No districts data in file: {p_k}")
                            
                    except json.JSONDecodeError:
                        print(f"Invalid JSON in file: {p_k}")
                        
            except IOError:
                print(f"Could not read file: {p_k}")

# Create DataFrame
Top_user = pd.DataFrame(clm)

In [33]:
Top_user

,State,Year,Quater,District,User_id,pincode
0,andaman-&-nicobar-islands,2018,1,south andaman,5846,744103
1,andaman-&-nicobar-islands,2018,1,south andaman,5846,744101
2,andaman-&-nicobar-islands,2018,1,south andaman,5846,744105
3,andaman-&-nicobar-islands,2018,1,south andaman,5846,744102
4,andaman-&-nicobar-islands,2018,1,south andaman,5846,744104
...,...,...,...,...,...,...
82823,west-bengal,2024,4,paschim bardhaman,1468252,733134
82824,west-bengal,2024,4,paschim bardhaman,1468252,700059
82825,west-bengal,2024,4,paschim bardhaman,1468252,711302
82826,west-bengal,2024,4,paschim bardhaman,1468252,700150
82827,west-bengal,2024,4,paschim bardhaman,1468252,711106

In [34]:
path8=r"C:\\Users\vicky\Documents\PHONEPAY\data\data\top\insurance\country\india\state\\"
top_insurance_list=os.listdir(path8)

In [35]:
clm={'State':[], 'Year':[],'Quater':[],'District':[], 'pincode':[],'Insurance_count':[], 'Insurance_amount':[]}

for i in top_insurance_list:
    p_i=path8+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['districts']:
              Name=z['entityName']
              count=z['metric']['count']
              amount=z['metric']['amount']
              for y in D['data']['pincodes']:
                Pincode = y["entityName"]
                clm['District'].append(Name)
                clm['pincode'].append(Pincode)
                clm['Insurance_count'].append(count)
                clm['Insurance_amount'].append(amount)
                clm['State'].append(i)
                clm['Year'].append(j)
                clm['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Top_Insurance=pd.DataFrame(clm)

In [36]:
Top_Insurance

,State,Year,Quater,District,pincode,Insurance_count,Insurance_amount
0,andaman-&-nicobar-islands,2020,2,nicobars,744301,3,565.0
1,andaman-&-nicobar-islands,2020,2,nicobars,744104,3,565.0
2,andaman-&-nicobar-islands,2020,2,nicobars,744101,3,565.0
3,andaman-&-nicobar-islands,2020,2,south andaman,744301,3,795.0
4,andaman-&-nicobar-islands,2020,2,south andaman,744104,3,795.0
...,...,...,...,...,...,...,...
55828,west-bengal,2024,4,purba bardhaman,711101,3595,4482879.0
55829,west-bengal,2024,4,purba bardhaman,700091,3595,4482879.0
55830,west-bengal,2024,4,purba bardhaman,700150,3595,4482879.0
55831,west-bengal,2024,4,purba bardhaman,700039,3595,4482879.0
55832,west-bengal,2024,4,purba bardhaman,700156,3595,4482879.0

In [37]:
from mysql.connector import connect

In [38]:
## Establishing connection with database
# connect is clause
connection = connect(
    host = "localhost",
    user = "root",
    password = "Ganeshpriya5@",
    database = "phonepe"
)
cursor =  connection.cursor()

print("MySQL connection established")

MySQL connection established

In [39]:
cursor.execute("CREATE DATABASE IF NOT EXISTS phonepe;")
print("MySQL database 'phonepe' created successfully")

MySQL database 'phonepe' created successfully

In [40]:
from tabulate import tabulate

In [41]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [42]:
query1 = "SELECT SUM(Transacion_count) AS total_transactions, SUM(Transacion_amount) AS total_amount FROM agg_trans;" 

cursor.execute(query1)
result1 = cursor.fetchall()


headers = ["total_transactions", "total_amount"]
print(tabulate(result1, headers=headers, tablefmt="grid"))

+----------------------+----------------+
|   total_transactions |   total_amount |
+======================+================+
|          2.30624e+11 |    3.43578e+14 |
+----------------------+----------------+